* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /*variables*/

    --colour-1: #414648;
    --colour-2: #a3d0e3;

}

/*header elements*/

header {
    background-color: var(--colour-1);
    color: var(colour-2);
    padding: 20px;
    font-weight: 300;
}

header h1 {
    font-size: 40px;
    display: inline-block;
    background-color: var(--colour-2);
    color: var(--colour-1);
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 30%;
    text-align: right;
    box-sizing:border-box;
}

header nav {
    padding-top: 20px;
    margin-right: 25px;
    float: right;
    font-size: 20;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    padding: 17px;
    font-size: 23px;
    margin-left: 25px;
    font-weight: 200;
}

header a {
    color: var(--colour-2);
}

/*body starts here*/

.filler {
    background-image: url("../assets/images/New_york_times_square-terabass.jpg");
    width: 100%;
    height: 350px;
    background-color: #fff;
    padding-bottom: 25px;
}

.filler h2 {
    color: var(--colour-1);
    background-color: var(--colour-2);
    width: 15%;
    position: absolute;
    top: 400px;
    right: 50px;
}

table {
    width: 100%;

}

/*left side of the screen*/

th {
    width: 30%;
    color: var(--colour-1);
    font-size: 35px;
    text-align: right;
    border-right: solid var(--colour-1);
    justify-content: space-evenly;
}

/*right side of the screen*/

td {
    padding-left: 25px;
}

td ul {
    list-style: none;
}

td li {
    display: inline;
}

td a {
    color: var(--colour-1);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--colour-1);
}

td img {
    height: 250px;
    width: 250px;
    padding: 15px;
}